<AutomatedInstallation langpack="eng">
    <com.izforge.izpack.panels.HTMLInfoPanel id="UNKNOWN (com.izforge.izpack.panels.HTMLInfoPanel)"/>
    <com.izforge.izpack.panels.HTMLLicencePanel id="UNKNOWN (com.izforge.izpack.panels.HTMLLicencePanel)"/>
    <com.izforge.izpack.panels.TargetPanel id="UNKNOWN (com.izforge.izpack.panels.TargetPanel)">
        <installpath>/usr/local/purlz</installpath>
    </com.izforge.izpack.panels.TargetPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry value="_PURLPORT_" key="PURLPORT"/>
            <entry value="_PURLHOST_" key="PURLHOST"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry value="mysql" key="DBSELECTION"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="mysqlauth">
        <userInput>
            <entry value="_MYSQLHOST_" key="MYSQLHOST"/>
            <entry value="_MYSQLPORT_" key="MYSQLPORT"/>
            <entry value="_MYSQLDBNAME_" key="MYSQLDBNAME"/>
            <entry value="_MYSQLUSERNAME_" key="MYSQLUSERNAME"/>
            <entry value="_MYSQLPASSWORD_" key="MYSQLPASSWORD"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry value="&lt;!-- &lt;allowTopLevelDomainAutoCreation/&gt; --&gt;" key="TOPLEVELDOMAINAUTOCREATION"/>
            <entry value="&lt;!-- &lt;allowUserAutoCreation/&gt; --&gt;" key="USERAUTOCREATION"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.PacksPanel id="UNKNOWN (com.izforge.izpack.panels.PacksPanel)">
        <pack name="Core" index="0" selected="true"/>
        <pack name="HSQLDB" index="1" selected="false"/>
        <pack name="MySQL" index="2" selected="true"/>
        <pack name="Javadoc" index="3" selected="false"/>
        <pack name="Source Code" index="4" selected="false"/>
    </com.izforge.izpack.panels.PacksPanel>
    <com.izforge.izpack.panels.InstallPanel id="UNKNOWN (com.izforge.izpack.panels.InstallPanel)"/>
    <com.izforge.izpack.panels.InfoPanel id="UNKNOWN (com.izforge.izpack.panels.InfoPanel)"/>
    <com.izforge.izpack.panels.FinishPanel id="UNKNOWN (com.izforge.izpack.panels.FinishPanel)"/>
</AutomatedInstallation>
